@keyframes ldio-rr8r8tvecw {
    0% { transform: rotate(0deg) }
    50% { transform: rotate(180deg) }
    100% { transform: rotate(360deg) }
  }
  .ldio-rr8r8tvecw div {
    position: absolute;
    animation: ldio-rr8r8tvecw 1s linear infinite;
    width: 80px;
    height: 80px;
    top: 10px;
    left: 10px;
    border-radius: 50%;
    box-shadow: 0 1.5px 0 0 #991b1b;
    transform-origin: 40px 40.75px;
  }
  .loadingio-spinner-eclipse-jezhxf4czxj {
    width: 64px;
    height: 64px;
    display: inline-block;
    overflow: hidden;
    background: none;
  }
  .ldio-rr8r8tvecw {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(0.64);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-rr8r8tvecw div { box-sizing: content-box; }